
#scroll {
    position: relative;
  }
  .scroll_graphic {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .scroll_graphic.is-fixed {
    position: fixed;

  }.scroll_graphic .chart {
    position: absolute;
    left: 10rem;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .scroll_graphic.is-bottom {
    bottom: 0;
    top: auto;
  }

  .scroll_text {
    padding: 0 1rem;
    max-width: 30rem;
  }
  
  .step {
    opacity: 0;
    padding: 1rem;
  }
  
  .step.is-active {
    opacity: 1;
  }
  
    